<!DOCTYPE html>
<html lang="zh-CN">
<include file="Public/header" title="首页-后台" />
<body>
	<include file="Public/nav" />
	<div id="test-right" class="test-right">
		<include file="Public/search" />
		<div class="row">
            <div class="col-md-12 no-padding">
                <div class="wrapper wrapper-content">
					<div class="row">
						<div class="col-md-3">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<span class="label label-success pull-right">会员总数</span>
									<h5>会员数量</h5>
								</div>
								<div class="ibox-content">
									<h1 class=" "><{$count.user}></h1>
									<div class="stat-percent f13 font-bold text-success">User<i class="fa fa-bolt"></i></div>
									<small class="f13">本站会员总数</small>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<span class="label label-info pull-right">文章数量</span>
									<h5>文章数量</h5>
								</div>
								<div class="ibox-content">
									<h1 class=" "><{$count.article}></h1>
									<div class="stat-percent f13 font-bold text-info">Article<i class="fa fa-level-up"></i></div>
									<small class="f13">本站文章总数</small>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<span class="label label-primary pull-right">留言数量</span>
									<h5>留言数量</h5>
								</div>
								<div class="ibox-content">
									<h1 class=" "><{$count.bbs}></h1>
									<div class="stat-percent f13 font-bold text-navy">Message<i class="fa fa-level-up"></i></div>
									<small class="f13">本站留言总数</small>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<span class="label label-danger pull-right">评论数量</span>
									<h5>评论数量</h5>
								</div>
								<div class="ibox-content">
									<h1 class=" "><{$count.cmt}></h1>
									<div class="stat-percent f13 font-bold text-danger">Comment<i class="fa fa-level-down"></i></div>
									<small class="f13">本站评论总数</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-log">
				<table class="table table-striped table-bordered bg-white">
					<thead>
						<tr>
							<th class="center">#</th>
							<th>用户</th>
							<th>时间</th>
							<th>IP</th>
							<th class="col-xs-7">日志内容</th>
						</tr>
					</thead>
					<tbody>
						<volist name="logList" id="val">
							<tr>
								<td><{$val['id']}></td>
								<td><{$val['name']}></td>
								<td><{$val['t']|date="Y-m-d H:i:s",###}></td>
								<td><{$val['ip']}></td>
								<td><{$val['log']}></td>
							</tr>
						</volist>
					</tbody>
					
				</table>
				<nav class="text-center">
					<ul class="pagination">
						<{$page}>
					</ul>
				</nav>
			</div>
		</div>  
	</div>
	<include file="Public/footer" />
</body>
</html>