<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[title]</title>
<link rel="icon" href="/myblog/Public/images/midbrand.png">
<link rel="stylesheet" href="__PUBLIC__/css/base.css" />
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/layer.css" />
<link rel="stylesheet" href="__PUBLIC__/css/default.css" />
<link rel="stylesheet" href="__PUBLIC__/css/app.css" />
<link rel="stylesheet" href="__PUBLIC__/css/admin.css" />
</head>