<div class="col-sm-4">
	<div class="vcard">
		<div class="vcard-hd text-center">
			 <h5 class="font-bold text-info pt5 no-margin"><{$userList.user}></h4>
			 <h6 class="pt5">一条即将翻身的咸鱼</h6>
		</div>	
		<div class="vcard-bd">
			<div class="avatar fl">
				<img src="__PUBLIC__/images/touxiang.jpg" alt="头像" class="img-thumbnail" width="70px" height="50px" />  	
			</div>

			<div class="message">
				<div class="abstract">
					这个人很懒，什么都没留下....
				</div>
				<div class="contact">
					<span class="glyphicon glyphicon-envelope"></span>
					465629989@qq.com
				</div>
			</div>
		</div>
		<div class="vcard-ft">
			<div class="vcard-icon text-center">
				<a><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
			</div>
			<div class="vcard-icon text-center">
				<a><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
    <div class="panel panel-default">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-pencil"></span>
			公告栏<a href="#" class="text-muted fr">>></a>
		</div>
		<ul class="list-group">
			<li class="list-group-list"><a href="" class="text-muted">基于ThinkPHP的博客系统</a></li>
			<li class="list-group-list"><a href="" class="text-muted">17款最佳的代码审查工具</a></li>
			<li class="list-group-list"><a href="" class="text-muted">Swift2.0编程中文版</a></li>
			<li class="list-group-list"><a href="" class="text-muted">前端页面加载jquery</a></li>
			<li class="list-group-list"><a href="" class="text-muted">August 2013</a></li>
		</ul>
	</div>
		
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-fire"></span>
			最新留言<a href="#" class="text-muted fr">>></a>
		</div>
		<ul class="list-group">
			<li class="list-group-list"><a href="" class="text-muted">TP官网讨论区按 版本筛选.</a></li>
			<li class="list-group-list"><a href="" class="text-muted">错误类型是否可以指定</a></li>
			<li class="list-group-list"><a href="" class="text-muted">加入BUG修复更新功能</a></li>
			<li class="list-group-list"><a href="" class="text-muted">显示年份信息</a></li>
			<li class="list-group-list"><a href="" class="text-muted">简单引用js二维码生成案例</a></li>
		</ul>
	</div>
</div><!-- /.blog-sidebar -->